altair
appdirs
astor
attrs
backcall
base58
bcrypt
black
bleach
blinker
boto3
botocore
certifi
cffi
chardet
Click
colorama
cryptography
cycler
decorator
defusedxml
docutils
entrypoints
enum-compat
flake8
future
htmlmin
idna
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
jsmin
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
livereload
Markdown
MarkupSafe
matplotlib
mccabe
mistune
mkdocs
mkdocs-material
mkdocs-minify-plugin
more-itertools
nbconvert
nbformat
networkx
notebook
numpy
opencv-contrib-python
pandas
pandocfilters
paramiko
parso
pathspec
pathtools
pep562
pickleshare
Pillow
pip-licenses
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2
PTable
ptvsd
pycodestyle
pycparser
pydeck
pyflakes
Pygments
pymdown-extensions
PyNaCl
pyparsing
PyQt5==5.13.2
PyQt5-sip
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
s3transfer
scikit-image
scipy
seaborn
Send2Trash
six
SQLAlchemy
SQLAlchemy-Utils
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
typed-ast
tzlocal
Unidecode
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
yapf
zipp

